.airConditioningSection {
  display: flex;
 
  font-family: 'Otomanopee One', sans-serif;  
  
}


.temp {
  font-size: 2rem;
}

.circle {
  display: flex;
  background-color:white;
  color: #448AB7;
  padding: 50px 65px;
  border-radius: 50%;
  
  
}

p.temp{
  margin-left:10px;
}

.circle::after{
  width:110%;
  padding:90px;
  width:500px;
  position: absolute;
  border: 3px solid;
  border-color: linear-gradient(#6AB5D8,#556CCD);
  

}

@keyframes rotato{
0%{

}
100%{

}
}

.circle:hover {
  transform: scale(1.1);

}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 50px;
}

button{
  background: none;
  border: none;
  color:#fff;
}

button i{
  font-size:25px;
}
button:hover {
  transform: scale(1.5)
}

.fa-circle {
  font-size: 1rem;
  margin-top: 30px;
 color:#448AB7;

}


.airConditioningSection, .forecastSection  {
  padding: 50px;
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  background-color: rgba(255, 255, 255, .3);
}

