
.forecastSection, .weatherForecastList {
    font-family: 'Yomogi', cursive;
}

.weatherToday{
    display:flex;
}


div .weatherToday{
    display:flex;
    border-bottom:1px solid white;
    border-width: 150%;
}

.weatherUpdateBox{
    display: flex;
}

.airConditioningSection{
    padding-left:80px;
}