ul li {
list-style: none;
font-family: 'Noto Sans', sans-serif;

}

nav {
  font-family: 'Otomanopee One', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  
}

header {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  padding:100px;
  border: 2px solid grey;
  width: 90%;
  
}

.airConditioningSection, .forecastSection  {
  padding: 50px;
  border: 2px solid red;
}

