

.wrapper {
  width: 95%;
  max-width: 1700px;
  margin: 0 auto;

}

ul li {
list-style: none;
font-family: 'Noto Sans', sans-serif;


}

nav {
  font-family: 'Otomanopee One', sans-serif;
  display: flex;
  justify-content: space-between;
  padding:10px 50px;
  color:#4996C7;


}

  
.userbox{
  display:flex;
  align-content:center;
  align-items: center;
}
   img{
    width:115px;
    margin-right:30px;
}

.title { 
  color:#4996C7;

}

.title{
h1{
  color:#4996C7;
  margin:0;
  margin-bottom: -5px;
}

  p{
    color:#4996C7;
  }

} 
.timeContainer {
  padding: 50px 20px;
}

.time{
  font-size: 2rem;
}


header{
 
  background: url("/images/BG-junohome.png");

  padding:30px;
  background-size:cover;
  background-position:center;
  }


header .wrapper {
  display: flex;
justify-content: center;
  margin: 100px auto;
  padding:40px;

  
  
  
}


div.tempsection{
  display: flex;
 width: 100%;
 justify-content: center;


  
  
}
.tempsection h2{
  margin-right:10px;
}


