@import 'setup';
@import 'header';
@import 'forecast';
@import 'airCondition';
@import 'mediaQ';



.footer{
    display: flex;
    width:100%;
    justify-content: space-between;
    padding:30px 75px;
    align-items: center;
}


.junohome img{
width:175px;
}


.auth img{
    width:50px;
}

